.header {
  display: block;
  text-align: center;
}
.images {
  margin: 0;
  padding: 0;
  list-style: none;
  max-width: 90%;
}
  .contact {
	text-align: center;
	display: block;
	padding: 10px 15px;
}
.images {
  margin: 0;
  padding: 0;
  list-style: none;

  max-width: 90%;
}
/**********************************
GENERAL
***********************************/

body {
  font-family: 'Open Sans', sans-serif;
}

#wrapper {
  max-width: auto;
  margin: 0 auto;
  padding: 0 5%;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

h3 {
  margin: 0 0 1em 0;
}

/**********************************
PAGE: PORTFOLIO
***********************************/

#gallery {
  margin: 0;
  padding: 0;
  list-style: none;
}

#gallery li {
  display: inline-block;
  width: 90%;
  margin: 2.5%;
  color: #000;
}

#gallery li a p {
  margin: 0;
  padding: 5%;
  font-size: 0.75em;
  color: #000
}




@media screen and (min-width: 320px) {

  /**********************************
  single Column layout
  ***********************************/

  #primary {
    width: 50%;
    float: left;
  }

  #secondary {
    width: 40%;
    float: right;
  }



  /**********************************
  PAGE: PORTFOLIO
  ***********************************/

  #gallery li {
    width: 100%;
  }




}

@media screen and (min-width: 768px) {

}
@media screen and (min-width: 1024px) {

}
